{% extends 'base.html' %}

{% block content %}
{% if messages %}
<div class="messages">
	<font color="red">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
	</font>
</div>
{% endif %}

<form method="post" action="">
{% csrf_token %}
{% if form.errors %} <p>Please correct the following fields:</p> {% endif %}
<div class="register_div">
	{% if form.username.errors %}<p class="error">{{ form.username.errors }}</p>{% endif %}
	<p><label for="username"{% if form.username.errors %} class="error" {% endif %}>Username:</label></p>
	<p>{{ form.username }}</p>
</div>

<div class="register_div">
	{% if form.password.errors %}<p class="error">{{ form.password.errors }}</p>{% endif %}
	<p><label for="password"{% if form.password.errors %} class="error" {% endif %}>Password:</label></p>
	<p>{{ form.password }}</p>
</div>

<p><input type="submit" /></p>
</form>
<p>New user? <a href="/TheAsciiArtDatabase/register">Click here to register!</a></p> 

<p>Forgot your password? <a href="/TheAsciiArtDatabase/resetpassword">Reset it!</a></p> 
{% endblock %}